@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RedirectToCancel</title>
</head>
<body>
    <div>
        <h1 class="text-center">Solve the captcha</h1>
        <br /><br />
        <h3 style="text-align: center;"><span style="color: black;">Sorry, Something went wrong..</strong></span></h3>
        <h3 style="text-align: center;"><span style="color: black;"><strong>Please contact the HIT requester.</strong></span></h3>

    </div>
</body>
</html>

