
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Redirect</title>
</head>
<body>
    <h1 class="text-center">Solve the captcha</h1>
    <br /><br />
    <center>
        <h3 class="text-center">
            Sorry. It seems that your browser does not support this HIT. </br>
            Please return the HIT.
        </h3>
    </center>
</body>
</html>
