
@{
    ViewBag.Title = "AlreadyPlayed";
}


<body>
    <h1 style="text-align: center;"><strong><span style="color: #ff6600;">Sorry, Something went wrong.</span></strong></h1>
    <h3 style="text-align: center;"><span style="color: #000080;"><strong>Please contact the HIT requester.</strong></span></h3>
</body>


