
@{
    Layout = null;
}

<body>
    <h1 style="text-align: center;"><strong><span style="color: #ff6600;">Thank you for your time!</span></strong></h1>
    <h3 style="text-align: center;"><span style="color: #000080;"><strong>Please return the HIT.</strong></span></h3>
</body>